:root {
    --primary-font-family: 'Poppins';

    --shadow-light-100: 0px 4px 4px #E6E6E6;
    --shadow-light-80: 0px 4px 4px rgba(230, 230, 230, 0.8);
    --shadow-light-60: 0px 4px 4px rgba(230, 230, 230, 0.6);
    --shadow-light-40: 0px 4px 4px rgba(230, 230, 230, 0.4);
    --shadow-light-20: 0px 4px 4px rgba(230, 230, 230, 0.2);
}