.message-banner, .message-card {
  position: relative;
  background: #fff;
  padding: 8px 20px;
  box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
  font-size: 13px;
  display: flex;
  min-height: 53px;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-content: space-around;
  -moz-align-content: space-around;
  align-content: space-around;
  -ms-flex-line-pack: distribute;

  &.warning {
    color: $warning-140;
    background: $warning-15;

    & .button {
      &-secondary,
      &-negative,
      &-dashed {
        color: $warning-120;
        border: 1px solid $warning-100;

        &:hover {
          background-color: $warning-100;
          color: $neutral-00;
        }
      }

      &.button-primary {
        background: $warning-120;

        &:hover {
          background: $warning-140;
        }
      }
    }
  }

  &.info {
    color: $info-140;
    background: $info-15;

    & .button {
      &-secondary,
      &-negative,
      &-dashed {
        color: $info-120;
        border: 1px solid $info-100;

        &:hover {
          background-color: $info-100;
          color: $neutral-00;
        }
      }

      &.button-primary {
        background: $info-120;

        &:hover {
          background: $info-140;
        }
      }
    }
  }

  &.success {
    color: $success-140;
    background: $success-15;

    & .button {
      &-secondary,
      &-negative,
      &-dashed {
        color: $success-120;
        border: 1px solid $success-100;

        &:hover {
          background-color: $success-100;
          color: $neutral-00;
        }
      }

      &.button-primary {
        background: $success-120;

        &:hover {
          background: $success-140;
        }
      }
    }
  }

  & .limit-width {
    width: 100%;
    max-width: 1200px;
    margin-left: auto!important;
    margin-right: auto!important;

    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-content: space-around;
    -moz-align-content: space-around;
    align-content: space-around;
    -ms-flex-line-pack: distribute;
  }

  & .message-banner-text {
    margin: 0;
    padding: 6px 0;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    font-weight: 700;

    & small {
      font-weight: 400;
      font-size: 13px;
      display: block;
    }
  }

  & .message-banner-actions {
    position: relative;
    white-space: nowrap;
  }
}

.message {
  &-banner {
    &.warning {
      box-shadow: 0 1px 0 $warning-60;
    }

    &.info {
      box-shadow: 0 1px 0 $info-60;
    }

    &.success {
      box-shadow: 0 1px 0 $success-60;
    }
  }

  &-card {
    border-radius: 12px;
  }
}