.button-text-md {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

.button-text-sm {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.button {
  @extend .button-text-sm !optional;
  border-radius: 10px;
  border: 2px solid transparent;
  height: fit-content;
  min-width: 100px;
  padding: 8px 8px;
  text-align: center;
  line-height: inherit;
  background-color: #fff0;
  cursor: pointer;

  &-primary {
    background-color: var(--primary-color);
    color: var(--neutral-00);

    &.button-sm {
      background-color: var(--primary-dark-color-80);
    }

    &:hover {
      background-color: var(--primary-dark-color);
    }
  }

  &-secondary,
  &-negative,
  &-dashed {
    color: var(--primary-color);
    border: 1px solid var(--primary-color-60);

    &:hover {
      background-color: var(--primary-color-60);
      color: var(--neutral-00);
    }
  }

  &-negative {
    border: 2px solid transparent;
  }

  //dashed
  &-dashed {
    text-transform: capitalize;
    font-size: 12px;
    font-weight: normal;
    border-style: dashed;
    border-radius: 12px;
    height: unset;
    padding-block: 22px;
    text-align: -webkit-center;

    &:hover {
      background-color: var(--primary-color-15);
      color: var(--primary-color) !important;
    }

    & svg {
      display: block;
      font-size: 20px;
      margin-bottom: 12px;
    }

    &.button-sm {
      border-radius: 12px;
      padding: 14px 16.5px;
      height: unset;

      & svg {
        display: unset;
        margin-bottom: unset;
        margin-right: 14.5px;
      }

      & span {
        display: flex;
        align-items: center;
      }
    }
  }

  &-sm {
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 20px;
    padding: 4.5px 21px;
  }

  &:disabled {
    opacity: 0.40;
    cursor: default;
  }

  &:focus {
    border: 2px solid var(--primary-color-60) !important;
  }

  &:hover {
    text-decoration: none;
  }
}

a.button:hover {
  color: var(--neutral-00);
  text-decoration: none !important;
}