.card {
    border: 1px solid $neutral-10;
    border-radius: 12px;

    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;

    &-header {
        border-bottom: 1px solid $neutral-10;
        padding: 12px 22px;
        background-color: $neutral-00;
        display: flex;
        align-items: center;

        &:first-child {
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            border-end-end-radius: 0px;
        }
    }

    &-body {
        padding: 22px;
        border-top: 1px solid $neutral-10;
    }
}