.form-checkbox, .form-radio {
    display: block;
    position: relative;
    cursor: pointer;
    height: 18px;
    padding-left: 20px;
    width: fit-content;
    font-size: 18px;
    line-height: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  
    & .checkmark {
      @extend .flex-center !optional;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 18px;
      background-color: transparent;
      border: 2px solid var(--primary-color);
    }
  
    &:hover input ~ .checkmark {
      background-color: var(--primary-color-15);
    }
  
    & input:checked ~ .checkmark {
      &:after {
        display: block;
      }
    }
  
    & input:disabled ~ * {
      opacity: 40%;
    }
  
    & .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
  
  .form-checkbox {
    & .checkmark {
      border-radius: 3px;
    }
  
    & input:checked ~ .checkmark {
      background-color: var(--primary-color);
    }
  
    & .checkmark:after {
      top: 1px;
      left: 5px;
      width: 4px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  
  .form-radio {
    & .checkmark {
      border-radius: 50px;
    }
  
    & .checkmark:after {
      border-radius: 50px;
      width: 8px;
      height: 8px;
      background-color: var(--primary-color);
    }
  }
  