.v-form-select {
    width: inherit;
    position: relative;
    height: 43px;
    font-size: 14px;
    line-height: 17px;

    &__input {
        position: relative;
        width: 100%;
        background: transparent;
        padding: 11px 35px 11px 12px;
        background-image: none;
        outline: none;
        border: 2px solid var(--primary-dark-color-15);
        border-radius: 10px;
        z-index: 2;
        text-align: left;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:focus {
            border-color: var(--primary-color);

            &+.select-focus::after {
                border-color: var(--primary-color);
            }
        }

        &:active,
        &:hover {
            border-color: var(--primary-dark-color) !important;

            &+.select-focus::after {
                border-color: var(--primary-dark-color) !important;
            }
        }

        &:active {
            &~ul {
                max-height: 300px;
                transition: max-height 0.1s;
            }
        }
    }

    & .select-focus {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            right: 18px;
            top: calc(50% - 7px);
            width: 9px;
            height: 9px;
            display: block;
            border-left: 2px solid #484848;
            border-bottom: 2px solid #484848;
            transform: rotate(-45deg);
            transition: all 0.25s ease;
        }
    }

    & ul {
        display: none;
        position: absolute;
        top: 44px;
        right: 0;
        left: 0;
        margin-top: 2px;
        max-height: 300px;
        z-index: 10;
        overflow: auto;
        border-radius: 5px;
        background-color: var(--neutral-00);
        box-shadow: var(--shadow-light-100);
        color: var(--neutral-70);

        & li {
            list-style-type: none;
            padding: 16px 10px;
            border-bottom: 0.5px solid #E6E6E6;
            cursor: pointer;

            &:hover {
                background-color: var(--primary-dark-color-80);
                color: var(--neutral-00);
            }
        }
    }
}