.nav-tabs {
    border-bottom: 1px solid var(--primary-color-20);

    & .nav-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--primary-dark-color);
        cursor: pointer;
    }

    & .nav-link {
        display: block;
        padding: 4px 16px;
        border-bottom: 3px solid transparent;
        color: unset;

        &.active, .nav-tabs .nav-item.show .nav-link {
            color: var(--primary-color);
            background-color: transparent;
            border-color: transparent !important;
            border-bottom: 3px solid var(--primary-color) !important;
        }

        &.disabled {
            color: var(--primary-dark-color);
            background-color: transparent;
            border-color: transparent !important;
            opacity: 0.4;

            &.active {
                color: var(--primary-color);
                border-bottom: 3px solid var(--primary-color) !important;
                opacity: 0.4;
            }
        }
    }
}